<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ch">
<head>
    <meta charset="UTF-8">
    <title>ClickBoard</title>
    <script th:src="@{/jquery.min.js}"></script>
</head>
<body>
<div>
    <input id="textup" name="cont">
    <button id="submit" type="button" onclick="submitText()">submit</button>
    <!--    <button id="paste">paste</button>-->
</div>

<div th:if="${type}=='text'" style="margin-top: 1em">
    <input id="textdown" th:value="${content}">
    <button id="copy" onclick="copy()">copy</button>
</div>
<div style="margin-top: 1em">
    <img th:if="${type}=='image'" th:src="${content}" alt="" style="max-width:100%; overflow:hidden; ">
</div>
<script>
    function submitText() {
        const textUp = document.querySelector('#textup')
        if (textUp.value === '') {
            alert('empty content')
        } else {
            $.ajax({
                url: 'uptext',
                type: 'POST',
                async: false,
                data: 'cont=' + textUp.value, //{cont: textUp.value},
                dataType: "text",
                success: function () {
                    alert('success')
                }
            })
        }
    }

    function copy() {
        const textDown = document.querySelector('#textdown')
        textDown.select()
        document.execCommand('copy')
        alert("copy success")
    }

    // todo auto paste button
    // const btnPaste = document.querySelector('#paste')
    // btnPaste.addEventListener('click', () => {
    //     textUp.focus()
    //     document.execCommand('paste')
    //     console.log('paste')
    // })
</script>
<style>
    button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        background: #0075ff;
        padding: 10px 15px;
        color: #ffffff;
        text-align: center;
        border-radius: 3px;
        overflow: hidden
    }
</style>
</body>
</html>